body{
    background-color: #EEEEEE;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.area{
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding:10px;
}
.logo{
    width: 100%;
    height: auto;
}
.remember{
    padding: 20px 0px 20px 0px;
}
.botao{
    display: block;
    width: 50%;
    min-width: 330px;
}
.gray{
    color: #707070;
}
.padding{
    padding: 20px;
}